[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/nirarara/.local/share/applications/main
Name=Counter 
Icon=/home/nirarara/.local/share/icons/counter.png
